* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

div.main {
  display: none;
}

.nav-bar {
  width: 95%;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 1rem auto ;
  padding: 1rem;
  border: 2px solid #000;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.tint {
  color: #00A98F;
}

.flex {
  display: flex;
}

.nav-list {
  gap: 1.5rem;
  list-style-type: none;
  align-items: center;
}

.nav-list li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #00A98F;
}

.nav-list li:nth-of-type(2) {
  border-left: 2px solid rgba(0, 169, 143, 0.4);
  border-right: 2px solid rgba(0, 169, 143, 0.4);
  padding: 0 1.5rem;
}

.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

.book_list {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 1rem auto;
  min-height: 665px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  overflow: scroll;
  padding: 10px;
}

.availableBook {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.books_lis_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.remove {
  width: 70px;
  height: 20px;
}

.line_divider {
  width: 200px;
  height: 3px;
  background-color: black;
  margin-top: 20px;
}

.add_book_div {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 665px;
  text-align: center;
  margin: 6.3rem auto 0;
}

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.input_div {
  width: 100%;
  margin-top: 0.5rem;
}

.input_author {
  width: 100%;
  height: 20px;
}

input[type='text'] {
  height: 2.5rem;
  padding: 0.5rem;
}

.input_title {
  width: 100%;
  height: 20px;
  margin-top: 8px;
}

.availableBook_title {
  font-weight: bolder;
}

.submitBtn_div {
  width: 100%;
  text-align: right;
}

.social_links {
  font-weight: 700;
}

#add_btn {
  justify-self: flex-end;
  width: 100%;
  height: 2.5rem;
  margin: 1rem auto;
  background: #00A98F;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

#three {
  width: 95%;
  padding-top: 150px;
  align-items: center;
  justify-content: center;
  min-height: 766px;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background: #00A98F;
  text-align: center;
}
